body 
{
  font-family:"Arial";
    background-repeat: repeat-x;
background-image: url('img/bg.png');
    
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true',
                startColorstr=#ffffff, 
               endColorstr=orange, 
               GradientType=0);
               background-color:#fc9100;
}
#throbber 
{
    position:fixed;
    left:20%;
    top:20%;
    
    padding: 2px;
    background-color:#ffffff;
    border-radius:15px;
    box-shadow: 0px 1px 3px #aaaaaa;
    padding:12px;
    overflow: hidden;
}

#notify 
{
    overflow:hidden;
    background-color:#ffffaa;
    padding:12px;
    position: fixed;
    color:#444444;
    text-align: center;
    font-weight: bold;
    font-family: "Tahoma";
    font-size: 13px;
    height: 32px;
}
#fader 
{
    background-image: url('img/fader.png');
    display: none;  width:100%; height:100%; position:absolute; left: 0px; top:0px; 
}
#popupWindow 
{
    width:60%; background:#ffffff; position:absolute; padding:20px;  border-radius:12px; opacity: 1;
   
}
.error
{
    color:#880000;
}
.Category
{
    text-decoration: underline;
}
.logo
{
   font-family:"Impact";
}
.ref
{
    list-style-image: url('icons/reference.png');
}
.ads
{
    -moz-box-shadow: 0px 0px 5px #000000;
     -webkit-box-shadow: 0px 0px 5px #000000;
     -moz-border-radius:4;
     -webkit-border-radius:4;


    background-color: #FFFFFF;
}
H3
{
    text-transform: uppercase;
    color: #FF5500;
    font-family:"Impact";
}
.binary
{
   
    position:absolute;
    left:15px;
    top:50px;
    width:699px;
    margin-left: 200px;
    height: 1350px;
    margin-right: 61px;
}
.helle
{
    background-color: #333333;
    color:#FFFFFF;
    -moz-border-radius: 8px;
    padding:30px;
    width:750px;
    
    font-family:"Arial";
    font-size:24px;  
    -webkit-border-radius: 12px;
} 
.helle a
{
    color: Gray;
    font-size:12px;
    font-weight:bold;
}


.item td
{
    border-bottom: yellow;
}
input
{

    padding:2px;
    color:#444444;
    font-size:12px;
    height:32px;
    
}
.partheader
{
    font-size:14px;
    font-weight:bold;
    color:#000000;
   
    
}
input
{
  
    padding: 2px;
    color:#444444;
    font-size:12px;
    height:32px;
    margin-right: 0px;
}
.title
{
    text-align:right;
    font-family:"Calibri";
    font-weight:bold;
    color:#FFFFFF;
}
.bottom
{
   
    width:750px;
       
    background-color: White;
  
     padding:30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
 
   
}
.item td
{
    border-bottom: 1px solid #FFAA00;
}
a
{
    color:#000000 !important;
   
}
.helle a
{
    color:#FFFFFF !important;
}
input, textarea 
{
   
}
input, textarea 
{
    border: 1px solid #cccccc;
    border-radius:8px;
 
}
*:focus {outline: none;}
*:focus, button:active, input[type="submit"]:hover 
{
    
     box-shadow: 0px 0px 13px #ffee44;
}
    

ton,.button,input[type="submit"]
{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    font-size:20px;
    background-image: url('img/btn_normal.png');
    padding:10px;
    padding-top:0px;
    padding-left:12px;
    padding-right:12px;
    background-size:100% 100%;
    font-family:"Impact";
    border: 1px solid #bbaa00;
    box-shadow: inset 0px 0px 1px #ffffee;
    
}
input[type="submit"] 
{
    padding: 20px;
    padding-top: 2px;
    padding-bottom:30px;
}
.button:hover 
{
    
}
.button:active 
{
    background-image: url('img/btn_active.png');
    
}
@-webkit-keyframes roll {
 from {
   background-position: 0px 0px;
 }
 to {
   background-position: 40px 0px;
 }
}
.progress 
{
    background: url("img/btn_stripe.png") !important;
    -webkit-animation: roll 5s linear infinite !important;
    background-size: 40px 40px !important;
    
}